* {
    margin: 0;
    padding: 0;
}


#main-heading {
    font-size: 36px;
    color: darkgreen;
}

.container {
    padding: 20px;
}


p {
    font-family: Arial, sans-serif;
}


li {
    color: darkred;
}


