p {
    font-size: 15px;
}

.workflow {
    color: blueviolet
}

.enjoy {
    color: chartreuse;
}

.elit {
    color: blue;
}

.nobis {
    color: darkolivegreen;
}

.last {
    color: yellowgreen;
}

.start {
    color: teal;
}